/* CSS Document */
*{
margin:0px;
padding:0px;

}
.main{
	width: 972px;
	margin:0px auto; 
	height:1600px;
}
h4{
	color:#003333;
}
body{
	font-size: 12px;
	color: #4D4D4D;	   
}
a{
	color: #4D4D4D;
	text-decoration: none;
}
a:hover{
	color: #FF0033;
	text-decoration: underline;	  
}
.clear{
clear:both;}
/*-----------------------leftsidebar----------------------------*/
.leftsidebar{
	width:205px;
	margin-right: 6px;
	float: left;
}
.top{
	width: 205px;
	margin-top:-1px;
	height: 28px;
	background:url(images/banner1_28.png);
	text-align: center;	
	line-height:28px;
}


.leftsidebar .box .top h4{
	text-align: center;
	line-height: 28px;	  
} 
.category{
    
	width: 205px;
	height:23px;
	color: #8ABD3C;
	line-height: 23px;
}
.green{
	width: 5px;
	height: 12px;
	margin-top:5px;
	margin-left: 10px;
	background-color: #8ABD3C;
	float:left;	
}

.catlist{
	width: 205px;	
}
.catlist ul{
    padding-left:16px;
	width: 190px;
	list-style: none;	
	
}
.catlist ul li{
	display:inline;
	line-height:25px;
	text-align:left;    
}
.catlist ul li a{
    display:block;
	width:63px;
	float:left;
}
/**********圆角矩形的写法***********/
 .box { width:205px;  } .box .r1 { height:1px; overflow:hidden; margin:0 5px; } .box .r2 { height:1px; border-left:2px solid #e6e6e6; border-right:2px solid #e6e6e6; margin:0 3px;overflow:hidden; } .box .r3 { height:1px; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; margin:0 2px;overflow:hidden; } .box .r4 { height:2px; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; margin:0 1px;  overflow:hidden; } .box .content {  border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; zoom:1; } /*---修改边框颜色---*/ .box .r2, .box .r3, .box .r4, .box .content { border-color:#e6e6e6; } .box .r1 { background:#e6e6e6; } /*---修改背景颜色---*/ 
/**********圆角矩形的写法***********/
/*-----------------------end leftsidebar------------------------*/
/*-----------------------center----------------------------*/
.center{
	width: 485px;
	margin-right:6px;
	float: left;
	
}
#center1{height:812px;}
/*大广告*/
.ad{
	width: 485px;
	height: 220px;  
    background-color:#FFCCFF;
}
#search{
	width: 485px;
	margin-top:6px;
	margin-bottom:6px;	
}
#content1{
    height:108px;
}
.center #search { width:485px;  } .center #search .r1 { height:1px; overflow:hidden; margin:0 5px; } .center #search .r2 { height:1px; border-left:2px solid #8abd3c; border-right:2px solid #8abd3c; margin:0 3px;overflow:hidden; } .center #search .r3 { height:1px; border-left:1px solid #8abd3c; border-right:1px solid #8abd3c; margin:0 2px;overflow:hidden; } .center #search .r4 { height:2px; border-left:1px solid #8abd3c; border-right:1px solid #8abd3c; margin:0 1px;  overflow:hidden; } .center #search .content {  border-left:1px solid #8abd3c; border-right:1px solid #8abd3c; zoom:1; } /*---修改边框颜色---*/ .center #search .r2, .center #search .r3, .center #search .r4, .center #search .content { border-color:#8abd3c; } .center #search .r1 { background:#8abd3c; } /*---修改背景颜色---*/ 

.searchbar{
	width: 485px;
	height: 40px;
	background:url(../mark/images/gif-0272.gif) no-repeat 5% 10%;
	float:left;
}
#content1 ul li{
	display:inline;
	margin-left:5px;
	line-height:20px;
	cursor: pointer;	
}
#content1 ul{
    width:400px;
	float:left;
}
#search2{ 
width: 485px;
margin-bottom:6px;
}
#content2 {
	width: 484px;height:215px;	
}
#content2 h4{
    height:20px;
	padding-top:8px;
	background:url(images/markindex-top.gif) no-repeat 5% 0%;
}
#search2 h4{
  padding-left:60px;
}
.goods{
	width: 161px;
	height: 180px;
	float:left;	

}
.good{
    width:137px;
	height:120px;
	margin:0px auto;
	border:solid 1px #CCCCCC;

}
.goods .good h3{
    width:161px;
	
}
.goods a{
color:#cc66cc;
text-align:center;
display:block;
}
.price{
	color:#666666;
	float:left;
	margin-left:10px;
	font-size:18px;
	font-weight:bolder;
	line-height:40px;	
}
#rank1{
    height:40px;
	background:url(images/1_r1_c1.jpg) no-repeat 80% top;
}
#rank2{
     height:40px;
	background:url(images/1_r1_c3.jpg) no-repeat 80% top;
}
#rank3{
     height:40px;
	background:url(images/1_r1_c5.jpg) no-repeat 80% top;
}
#good1{
   background:url(images/markindex_r1_c1.jpg) no-repeat 50% 50%;

}
#good2{
   background:url(images/markindex_r1_c5.jpg) no-repeat 50% 50%;

}
#good3{
   background:url(images/markindex_r1_c7.jpg) no-repeat 50% 50%;
}

.restaurant{
	height: 90px;
	width: 485px;
	margin-bottom: 5px;
}
.rest_photo{    
	height: 90px;
	width: 108px;
	margin: 0px 5px;
	float: left;
	border:solid 1px #CCCCCC;
}
/*餐馆前三的排名*/
#rest_rank1{
background:url(images/1.jpg) no-repeat 0% 100%;
}
#rest_rank2{
background:url(images/Number_002.gif) no-repeat 0% 100%;
}
#rest_rank3{
background:url(images/3.jpg) no-repeat 0% 100%;;
}
      /*餐馆前三的排名*/
.rest_photo a{
    display:block;
	text-align:center;
	margin-top:5px;

}
.food{
width:80px;
height:58px;
margin-left:12%;
margin-top:5%;
border:solid 1px #CCCCCC;
}
#rest_1{
background:url(images/markindex_r1_c1.gif) no-repeat 50% 15%;
} 
#rest_2{
background:url(images/markindex_r3_c1.gif) no-repeat 50% 15%;
} 
#rest_3{
background:url(images/markindex_r1_c3.gif) no-repeat 50% 15%;
}
#rest_4{
background:url(images/markindex_r3_c5.gif)no-repeat 50% 15%;
}
#rest_5{
background:url(images/markindex_r1_c5.gif) no-repeat 50% 15%;
}
#rest_6{
background:url(images/markindex_r3_c3.gif) no-repeat 50% 15%;
}
#rest_7{
background:url(images/markindex_r1_c7.gif) no-repeat 50% 15%;
}
#rest_8{
background:url(images/markindex_r3_c7.gif) no-repeat 50% 15%;
}

/*-----------------------end center------------------------*/
/*-----------------------rightsidebar----------------------------*/
.rightsidebar{
	width: 270px;
	float: left;
	
}
#rightsidebar1{
height:812px;
}
 #store_ad{
    width:270px;
	height:345px;}
.store{ 
    width:125px;
	height:86px;
	margin:0px 4px;
	float:left;
	text-align:center;
	}
	.storephoto{
	height:66px;
	border:solid 1px #CCCCCC;
	}
	#store1{
	background:url(images/markindex.gif)}
	#store2{
	background:url(images/markindex.jpg)}
	#store3{
	background:url(images/1_r3_c1.jpg)}
	#store4{
	background:url(images/1_r3_c3.jpg)}
	#store5{
	background:url(images/1_r5_c1.jpg)}
	#store6{
	background:url(images/1_r5_c3.jpg)}
	#store7{
	background:url(images/1_r7_c1.jpg)}
	#store8{
	background:url(images/1_r7_c3.jpg)}
.text{
    width: 270px;
    margin-top: 6px;
	border: solid 1px #e6e6e6;height: 222px;
}	

.gray{
	height: 23px;
	width: 270px;
	background:url(images/markindex-gray.gif) repeat-x;
}
.gray h4{
    text-align:center;
	line-height:23px;
}

.text ul{
      width:230px;
	  height:200px;
	  margin-left:27px;
	  line-height:28px;
}
#annouce1,#annouce2 ul li{
 list-style:url(images/gif-0040.gif);
}
.time{
float:right;}
/*-----------------------end rightsidebar------------------------*/

.rightbottom{
   width:761px;
   float:right;
}
#rightbottom1{  height:492px;}
.salegoods{
	width:761px;
	height:180px;
	margin-bottom:6px;
	border:solid 1px #CCCCCC;
}
.salegoods h3{ margin:15px 0px 10px 20px; }
.ware{
	width: 151.2px;
	height: 138px;
	border-right:dashed 1px #CCCCCC;
	float:left;
}
.ware a{ display:block;text-align:center;line-height:23px;}
.warephoto{
	width: 106px;
	height: 96px;
	border: solid 1px #e6e6e6;
	margin:0px auto;
	background:#6666FF;
	background:url(images/markindex-ware_r2_c2.gif);           /*用来做测试的图像*/
}
#hot{ float:left; background:url(images/hot_r2_c2.gif) no-repeat;}
#new{ float:left; background:url(images/new.gif) no-repeat;}
#sale{ float:left; background:url(images/sale.gif) no-repeat;}
/*-------------------------------------------------------eachstore.css--------------------------------*/
.pane{width:205px;border:solid 1px #E8E8E8; margin-bottom:6px;}
.pane_announce{ margin:0px auto; line-height:25px;}
#pane_ul1{width:180px;}
.pane .pane_announce ul{ text-align:left;}
.pane .pane_announce ul li{ list-style:none; line-height:25px;}
.storepic{ width:515px; height:318px; background:url(images/storepic.jpg) no-repeat;border:solid 1px #E8E8E8;}
.title{ width:240px;height: 28px;background:url(images/banner1_28.png);text-align: center;	line-height:28px;}
#center{ width:515px; height:318px;margin-right:6px;float: left;}
#rightsidebar{float:left; width:238px;border:solid 1px #8abd3c; }
#pane_ul2{ width:220px;height:290px;}
#rightsidebar ul li{list-style:url(images/gif-0040.gif);margin-left:12px;}
.storebanner{width:761px; height:30px;border:solid 2px #8abd3c; border-bottom:none; margin-top:6px;}
.storepane{width:300px; height:6px; background:#8abd3c; display:block; float:left; }
.storebanner h3{color:#666666;margin-left:8px;}
.transparent{width:763px;height:468px;}
.intro_goods{width:253px;height:150px; float:left; border-right:dashed 1px #CCCCCC; color:#0066ff; margin-top:8px;}
.intro_good{ width:140px; height:128px;margin:5px 8px 5px 8px; border:solid 1px #CCCCCC; float:left;}
.intro_goods ul li a { color:#DA0318;}
#intro_good1{width:140px;height:128px; background:url(images/exm_1.gif) no-repeat;}
.endstorebanner{width:759px;border:solid 2px #8abd3c; height:20px; border-top:none;}
#infomation{width:90px;height:150px; float:left; display:block;}
#infomation li{ list-style:none; line-height:20px;}
#infomation a{}